mat/reports
mat/test-classes/
mat/prod_domain.xml
mat/qa_domain.xml
mat/staging_domain.xml
mat/war/velocity.log
mat/MAT_2Factor_notes.txt
mat/src/main/resources/vip_cert.p12
mat/war/vip_cert.p12
mat/war/prod_vip_cert_mat.p12
mat/src/main/java/vip_cert.p12
mat/war/WEB-INF/lib/vipuserservices-test-client.jar
mat/src/main/java/mat/server/twofactorauth/vip/
mat/src/main/java/mat/server/twofactorauth/Credential.java
mat/src/main/java/mat/server/twofactorauth/VipUserServicesQueryClient.java
mat/war/WEB-INF/classes/
mat/.gitignore
mat/docs