prod_domain.xml
qa_domain.xml
staging_domain.xml
war/velocity.log
sql/
MATReport/
HibernateMatReport/
MAT_2Factor_notes.txt
reports/
war/vip_cert.p12
src/vip_cert.p12
war/prod_vip_cert_mat.p12
war/WEB-INF/lib/vipuserservices-test-client.jar
